*{
   /* box-sizing: content-box; vai somando os valores */
   box-sizing: border-box; /* TUDO VAI FICAR DENTRO DO WIDTH E HEIGHT */
}

.box {
    width: 100px;
    height: 100px;
    background: #FF1493;
    padding: 20px;
    border: 10px solid #0000FF;
}