/*
h1{
   background: rgb(255, 0, 0);
}

h1{
    background: rgb(0, 255, 0)
}

h1{
    background: rgb(0, 0, 255);
}

h1{
    background: rgb(0, 0, 0);
}

h1{
    background: rgb(255, 255, 255);
}


h1{
    background: #FF0000;
}

h1{
    background: #0000ff;
}

h1{
    background: #00ff00;
}

h1{
    background: #000000;
}
*/

h1{
    background: #ffffff;
}